.el-container {
  //头部虚线
  .el-header {
    height: auto;
    box-shadow:
      0 2px 4px 0 rgba(0, 21, 67, 0.04),
      inset 0px -1px 0px 0px #e7eaf0;
    overflow: hidden;
    min-width: 950px;
    z-index: 4;
  }
}

.search-bar {
  padding: 18px 0 0 10px;
  margin-bottom: 10px;
  background-color: var(--el-bg-color-overlay);
  border: 1px solid var(--el-border-color-light);
  border-radius: 4px;
  //box-shadow: var(--el-box-shadow-light);
}
