//数据大屏公共样式
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box}
*,
body{
  padding:0px;	
  margin:0px;color: #222;
  font-family: "微软雅黑";
}
li{ 
  list-style-type:none;
}
i{ 
  margin:0px; 
  padding:0px; 
  text-indent:0px;
}
img{ 
  border:none; 
  max-width: 100%;
}
a{ 
  text-decoration:none; 
  color:#399bff;
}
a.active,a:focus{ 
  outline:none!important; 
  text-decoration:none;
}
ol,ul,p,h1,h2,h3,h4,h5,h6{ 
  padding:0; 
  margin:0
}
a:hover{ 
  color:#06c; 
  text-decoration: none!important
}

//echarts框样式
.boxall{ 
  border: 1px solid rgba(25,186,139,.17); 
  padding:10px 10px 0 10px;  
  background: rgba(255,255,255,.04) url(../images/line.png); 
  background-size: 100% auto;
  position: relative; 
  z-index: 10;
  //底部
  .boxfoot{ 
    position:absolute; 
    bottom: 0; 
    width: 100%; 
    left: 0;
  }
  .boxfoot:before,
  .boxfoot:after{ 
    position:absolute; 
    width: 10px; 
    height: 10px;  
    content: "";
    border-bottom: 2px solid #02a6b5; 
    bottom: 0;
  }
}
.boxall:before,.boxall:after{ 
  position:absolute; 
  width: 10px; 
  height: 10px; 
  content: "";  
  border-top: 2px solid #02a6b5; 
  top: 0;
}
.boxall:before,.boxfoot:before{
  border-left: 2px solid #02a6b5;
  left: 0;
}
.boxall:after,.boxfoot:after{
  border-right: 2px solid #02a6b5; 
  right: 0;
}